In [1]:
import pandas as pd
import numpy as np

In [2]:
india=pd.read_csv(r"C:\Users\kavit\Documents\My_Projects\SharkTank_Dashboard\sharktank_india.csv", sep=',')
usa=pd.read_csv(r"C:\Users\kavit\Documents\My_Projects\SharkTank_Dashboard\sharktank_usa.csv", sep=',')

In [3]:
india.columns

Index(['Season Number', 'Startup Name', 'Season Start', 'Season End',
       'Episode Number', 'Episode Title', 'Anchor', 'Pitch Number', 'Industry',
       'Business Description', 'Company Website', 'Number of Presenters',
       'Male Presenters', 'Female Presenters', 'Transgender Presenters',
       'Couple Presenters', 'Pitchers Average Age', 'Started in',
       'Pitchers City', 'Pitchers State', 'Yearly Revenue', 'Cash Burn',
       'Monthly Sales', 'Gross Margin', 'Net Margin', 'SKUs',
       'Original Ask Amount', 'Original Offered Equity', 'Valuation Requested',
       'Received Offer', 'Accepted Offer', 'Total Deal Amount',
       'Total Deal Equity', 'Total Deal Debt', 'Debt Interest',
       'Deal Valuation', 'Number of sharks in deal', 'Deal has conditions',
       'Has Patents', 'Royalty deal', 'Ashneer Investment Amount',
       'Ashneer Investment Equity', 'Ashneer Debt Amount',
       'Namita Investment Amount', 'Namita Investment Equity',
       'Namita Debt Amount', 'Anupam Investment Amount',
       'Anupam Investment Equity', 'Anupam Debt Amount',
       'Vineeta Investment Amount', 'Vineeta Investment Equity',
       'Vineeta Debt Amount', 'Aman Investment Amount',
       'Aman Investment Equity', 'Aman Debt Amount',
       'Peyush Investment Amount', 'Peyush Investment Equity',
       'Peyush Debt Amount', 'Ghazal Investment Amount',
       'Ghazal Investment Equity', 'Ghazal Debt Amount',
       'Amit Investment Amount', 'Amit Investment Equity', 'Amit Debt Amount',
       'Guest Investment Amount', 'Guest Investment Equity',
       'Guest Debt Amount', 'Guest Name', 'Ashneer Present', 'Namita Present',
       'Anupam Present', 'Vineeta Present', 'Aman Present', 'Peyush Present',
       'Ghazal Present', 'Amit Present', 'Guest Present'],
      dtype='object')

In [ ]:
india = india.drop(['Startup Name','Industry',
       'Business Description', 'Company Website', 'Number of Presenters',
       'Male Presenters', 'Female Presenters', 'Transgender Presenters',
       'Couple Presenters', 'Pitchers Average Age', 'Started in',
       'Pitchers City', 'Pitchers State', 'Yearly Revenue', 'Cash Burn',
       'Monthly Sales', 'Gross Margin', 'Net Margin', 'SKUs',
       'Original Ask Amount', 'Original Offered Equity', 'Valuation Requested',
       'Received Offer', 'Accepted Offer', 'Total Deal Amount',
       'Total Deal Equity', 'Total Deal Debt', 'Debt Interest',
       'Deal Valuation', 'Number of sharks in deal', 'Deal has conditions',
       'Has Patents', 'Royalty deal', 'Ashneer Investment Amount',
       'Ashneer Investment Equity', 'Ashneer Debt Amount',
       'Namita Investment Amount', 'Namita Investment Equity',
       'Namita Debt Amount', 'Anupam Investment Amount',
       'Anupam Investment Equity', 'Anupam Debt Amount','Vineeta Investment Amount', 'Vineeta Investment Equity',
       'Vineeta Debt Amount', 'Aman Investment Amount',
       'Aman Investment Equity', 'Aman Debt Amount',
       'Peyush Investment Amount', 'Peyush Investment Equity',
       'Peyush Debt Amount', 'Ghazal Investment Amount',
       'Ghazal Investment Equity', 'Ghazal Debt Amount',
       'Amit Investment Amount', 'Amit Investment Equity', 'Amit Debt Amount',
       'Guest Investment Amount', 'Guest Investment Equity',
       'Guest Debt Amount', 'Guest Name', 'Ashneer Present', 'Namita Present',
       'Anupam Present', 'Vineeta Present', 'Aman Present', 'Peyush Present',
       'Ghazal Present', 'Amit Present', 'Guest Present'], axis=1)

In [4]:
usa.columns

Index(['Season Number', 'Startup Name', 'Season Start', 'Season End',
       'Episode Number', 'Pitch Number', 'Original Air Date', 'Industry',
       'Business Description', 'Pitchers Gender', 'Pitchers City',
       'Pitchers State', 'Pitchers Average Age', 'Entrepreneur Names',
       'Company Website', 'Multiple Entrepreneurs', 'US Viewership',
       'Original Ask Amount', 'Original Offered Equity', 'Valuation Requested',
       'Got Deal', 'Total Deal Amount', 'Total Deal Equity', 'Deal Valuation',
       'Number of sharks in deal', 'Investment Amount Per Shark',
       'Equity Per Shark', 'Royalty Deal', 'Loan',
       'Barbara Corcoran Investment Amount',
       'Barbara Corcoran Investment Equity', 'Mark Cuban Investment Amount',
       'Mark Cuban Investment Equity', 'Lori Greiner Investment Amount',
       'Lori Greiner Investment Equity', 'Robert Herjavec Investment Amount',
       'Robert Herjavec Investment Equity', 'Daymond John Investment Amount',
       'Daymond John Investment Equity', 'Kevin O Leary Investment Amount',
       'Kevin O Leary Investment Equity', 'Guest Investment Amount',
       'Guest Investment Equity', 'Guest Name', 'Barbara Corcoran Present',
       'Mark Cuban Present', 'Lori Greiner Present', 'Robert Herjavec Present',
       'Daymond John Present', 'Kevin O Leary Present', 'Guest Present'],
      dtype='object')